.cardBg {
  :hover {
    background: rgba(0, 183, 74, 0.78);
  }
  .linkBg {
    background: white;
  }
  text {
    color: white;
  }
  .description {
    height: auto;
    @media (min-width: 1024px) {
      height: 170px;
    }
  }
}
